# Base de données PostgreSQL 
PGHOST=10.50.30.5
PGPORT=5432
PGDATABASE=mutuelle_mobile1
PGUSER=mutuelle_user1
PGPASSWORD=root
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
 



# JWT
JWT_SECRET=MaSuperCleSecreteDe32CaracteresMinimum12345678
JWT_ACCESS_EXPIRATION=9000000000
JWT_REFRESH_EXPIRATION=604800000