# Base de données PostgreSQL
PGDATABASE=mutuelle_mobile
PGUSER=mutuelle_user
PGPASSWORD=ChangeMe_MotDePasseForte123

SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# JWT
JWT_SECRET=MaSuperCleSecreteDe32CaracteresMinimum12345678
JWT_ACCESS_EXPIRATION=9000000000
JWT_REFRESH_EXPIRATION=604800000
